<div class="container"> 
    <div class="row">
        <%= game_state(@tally.game_state) %>
    </div>
    <div class="row">
        <div class="col">
            <%= render("_gallows.html", left: @tally.turns_left) %>
        </div>
        <div class="col">
            <%= render("_status.html", tally: @tally, conn: @conn) %>
        </div>
    </div>
<div>
