<section class="gallows-hero">
  <h1><%= gettext "Welcome to %{name}", name: "Gallows" %></h1>
  <p>A Phoenix app for Hangman</p>
  <img src="<%= Routes.static_path(@conn, "/images/gallows.jpg") %>">
</section>